* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #be3144;
  --main-white: #f0f0f0;
  --main-blue: #45567d;
  --main-gray: #303841;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-blue);
  color: white;
}
#welcome__children {
  height: 100vh;
  background-color: #000;
}
#welcome__children > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 20rem;
  color: var(--main-white);
}
#welcome__children > p {
  font-size: 2rem;
  color: var(--main-color);
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 4%;
  border-bottom: 4px solid white;
}
.project-tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/* this is the container that the images are inside, dont forget to give it a border to see it */
.trying {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-gray);
  border: 0px;
  border-radius: 0% 0 5% 0%;
  box-shadow: 10px 5px 5px rgb(17, 16, 16);
}
.trying {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.trying:hover {
  transform: translateY(10px);
}
.trying > a {
  padding-block: 1rem;
  padding-inline: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
button {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  background-color: var(--main-gray);
  border: 0px;
}
button:hover {
  background-color: var(--main-color);
}
button > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}
/* here contains all the styles to the handles eg. Facebook, Twitter and X. */
#lastpart {
  height: 100vh;
  background-color: var(--main-gray);
}
#lastpart > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 10rem;
}
#lastpart > p {
  font-size: 2rem;
  margin-bottom: 5rem;
}
/* Styles for the hover effects */
#profile-link {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#profile-link:hover {
  transform: translateY(10px);
}
#handles {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}
#handles > a {
  color: white;
  text-decoration: none;
}
footer {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--main-gray);
  border-top: 5px solid var(--main-color);
}
footer > p {
  font-size: 1rem;
}
footer > p > a {
  text-decoration: none;
  color: white;
}
